.FavoriteCharacters {
  display: flex;
  flex-direction: column;
}


.toMoviesBtn__div {
  display: flex;
}

.backToMovies{
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  color: #ffe81f;
  text-shadow: 2px 2px 2px#222;
  cursor: pointer; 
  height: 42px;
}

.noFavText {
  color: #ffe81f;
  font-size: 50px;
}

.back--episodes--saber {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.backToMovies {
  border: none;
  border-radius: 0 50px 50px 0;
  height: 30px;
  background: #0000e1;
  font-size: 20px;;
  box-shadow: 10px 7px 34px -3px #0000e1;
  cursor: pointer; 
}
