form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  width: 100vw;
}

input,
select {
  margin-bottom: 1%;
}

.UserModalFormLabel,
.UserModalFormInput,
.UserModalFormBtn,
.UserModalFormSelect {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.5em;
  padding: 1% 0;
}

.UserModalFormSelect {
  border: none;
  height: 2em;
  width: 200px;
  padding-left: 10px;
}

.UserModalFormInput {
  width: 200px;
  padding-left: 10px;
}

.UserModalFormBtn {
  border: none;
  background-color: #ffe81f;
  height: 2em;
  width: 200px;
  cursor: pointer;

}

.UserModalFormLabel {
  font-size: 1em;
}
