.planet {
  border: 1px solid red;
  border-radius: 100%;
  color: yellow;
  height: 200px;
  width: 200px;
}

.planetImage {
  background-position: left 50% bottom 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  cursor: pointer; 
}

.planetImage1 {
  background-image: url("../../images/SWEpisode1.jpg");
}

.planetImage2 {
  background-image: url("../../images/SWEpisode2.jpg");
}

.planetImage3 {
  background-image: url("../../images/SWEpisode3.jpg");
}

.planetImage4 {
  background-image: url("../../images/SWEpisode4.jpg");
}

.planetImage5 {
  background-image: url("../../images/SWEpisode5.jpg");
}

.planetImage6 {
  background-image: url("../../images/SWEpisode6.jpg");
}

.planetImage7 {
  background-image: url("../../images/SWEpisode7.jpg");
}

.planetNumber {
  filter: drop-shadow(2px 2px 2px #222);
}