.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ReactModalPortal {
  align-items: space-around;
  display: flex;
  justify-content: space-around;
}

.WelcomeFormModal {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
}

.WelcomeFormOverlay {
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  color: #FFE81F;
  display: flex;
  font-size: 2em;
  justify-content: space-around;
  margin: 0;
  width: 100vw;
}
