.MoviesContainer {
  color: #ffe81f;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.MoviesContainer-planets {
  align-items: flex-end;
  display: flex;
}

.MoviesContainer-loading {
  height: 25%;
  width: 25%;
}
