.CharactersContainer {
  color: #ffe81f;
  display: flex;
  flex-direction: column;
}

.CharactersContainer-h1 {
  height: 25vh;
  overflow: hidden;
  text-transform: uppercase;
}

.CharactersContainer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 70vh;
  overflow: scroll;
  width: 100%;
}

.BB8--Parent-Container {
  height: 100%;
  width: 100%;
}

.BB8--loading {
  height: 100%;
  margin-left: 50%;
  margin-top: 5%;
}

.BB8 {
  display: flex;
}

.MoviesContainer-loading {
  height: 350px;
  margin-top: 5%;
  width: 500px;
}

.episodeTitle {
  color: #ffe81f;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  margin-top: 20px;
}
