.CharactersContainer {
  color: #ffe81f;
  display: flex;
  flex-direction: column;
}

.CharactersContainer-h1 {
  height: 25vh;
  overflow: hidden;
  text-transform: uppercase;
}

.CharactersContainer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 70vh;
  overflow: scroll;
  width: 100%;
}

.MoviesContainer-loading {
  height: 450px;
  width: 600px;
}

.BB8 {
  display: flex;
}
