.UserProfile {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 600px;
  min-width: 200px;
  position: absolute;
  right: 0;
}
.UserProfile__button--sign-out {
  background-color: green;
}

.UserProfile--userName {
  margin: 0;
}

.UserProfile__hamburger-icon {
  height: 42px;
  margin: 0;
  width: 42px;
}

.UserProfile--userMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}